{

  log: false

  srcPath: 'lib'
  outPath: 'build'

  checkScripts: true
  jshintOptions: {
    devel: true
    node:  true
    expr:  true
  }

  scriptsOrder: [
    'slickback.js'
    'slickback/scope.js'
    'slickback/scoped_model_mixin.js'
    'slickback/collection_events_mixin.js'
    'slickback/paginated_collection_mixin.js'
    'slickback/pager_adaptor_mixin.js'
    'slickback/event_translation_mixin.js'
    'slickback/collection_adaptor_mixin.js'
    'slickback/collection.js'
    'slickback/scoped_collection.js'
    'slickback/paginated_collection.js'
    'slickback/number_formatter.js'
    'slickback/choice_formatter.js'
    'slickback/editor_mixin.js'
    'slickback/text_cell_editor.js'
    'slickback/integer_cell_editor.js'
    'slickback/number_cell_editor.js'
    'slickback/dropdown_cell_editor.js'
    'slickback/backbone_model_formatter_factory.js'
  ]

  bundleScriptPath: 'dist/slickback.min.js'

  deleteBundledFiles: true

  compressScripts: true

  buildHandler: (err) ->
    throw err if err
    @log 'info', "Building uncompressed version"
    @config.compressScripts = false
    @config.bundleScriptPath = 'dist/slickback.full.js'
    @config.buildHandler = (err) ->
      throw err if err
      @log 'info', "Cleaning build directories"
      fs = require 'fs'
      fs.rmdir 'build/slickback'
      fs.rmdir 'build'
    new @constructor(@config).process()

}
